:root {
	--accent-color: #404bbf;
	--iris-color: #4d5ae5;
	--cloud-color: #f4f4fd;
	--primary-text-color-theme-dark: #ffffff;
	--title-color: #2e2f42;
	--description-color: #434455;
	--main-background-color: #ffffff;
}

.list {
	list-style: none;
	background-color: (--main-background-color);
}
.link {
	text-decoration: none;
	color: inherit;
}

.link:visited {
	color: inherit;
}
.link:hover,
.link:focus,
.link:active,
.order-btn:active,
.filter-btn:active {
	color: var(--accent-color);
}

.span-web:hover,
.span-web:focus,
.span-web-footer:hover,
.span-web-footer:focus {
	color: var(--iris-color);
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--description-color);
	background-color: var(--main-background-color);
}

/* components */

/* header */
.logo {
	font-family: "Raleway", sans-serif;
	color: var(--iris-color);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.logo:visited {
	color: var(--iris-color);
}

.span-web {
	color: var(--title-color);
}
.span-web-footer {
	color: var(--cloud-color);
}

.menu-link,
.mail-tel {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-color);
}

.hero {
	background-color: var(--title-color);
}
.main-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--primary-text-color-theme-dark);
}

.order-btn {
	font-family: inherit;
	cursor: pointer;
	font-weight: 500;
	line-height: 1.5;
	font-size: 16px;
	letter-spacing: 0.04em;
	color: var(--primary-text-color-theme-dark);
	background-color: var(--iris-color);
}

.order-btn:focus,
.order-btn:hover {
	background-color: var(--accent-color);
}
.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--title-color);
}

.contacts {
	font-style: normal;
}

.about-img {
	width: 360px;
	height: 300px;
}

.subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-color);
}

.our-team {
	background-color: var(--cloud-color);
}

.our-team-img {
	width: 264px;
	height: 260px;
}
.description {
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.footer {
	background-color: var(--title-color);
	color: var(--cloud-color);
}

.description-footer {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.filter-btn {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.5;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	background-color: var(--cloud-color);
	color: var(--iris-color);
}
.filter-btn:focus,
.filter-btn:hover {
	background-color: var(--accent-color);
	color: var(--primary-text-color-theme-dark);
}

.works-img {
	width: 360px;
	height: 300px;
}
